
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#mstdn_picker_wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    width: 20%;
    height: 100%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}


#sidebar .left__input{
    background-color: #333333;
    border: 1% solid #ccc;
    margin: 0%;
    padding: 8%;
    width: 90%;
    border-radius: 20% 20% 20% 20% / 20% 20% 20% 20%;
}

#sidebar .left__input label{
    color: #ffffff;
    font-size: 8px;
    font-weight: bold;
}

#sidebar .left__input input,select{
    width: 90%;
    border: 1% solid #000;
}

#sidebar .left__input .about{
    color: #ff0000;
    font-size: 8px;
}

#sidebar .left__input #permalink{
    color: #ff0000;
    font-size: 8px;
}


#sidebar h1{
    color: #000000;
}

#sidebar .button{
    background-color: #4CAF50;
    color: white;
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
}

#sidebar .button:hover{
    background-color: #3C9F40;
}

#sidebar .button:active{
    background-color: #000000;
}

#sidebar.hide_sidebar{
    display: none;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#right_header{
    position: fixed;
    top: 0px;
    left: 24%;
    width: 76%;
    height: 50px;
    float: left;
    z-index: 3;
    background-color: #ffffff;
    color: #000000;
}

#right_header input{
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    border-top-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    width: 280px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    outline: 0;
}

#right_header input:-ms-input-placeholder{
    color: #777;
}

#right_header input:-webkit-input-placeholder{
    color: #777;
}

#right_header input:-moz-placeholder{
    color: #777;
}


#right_header.hide_sidebar{
    left: 0%;
    width: 100%;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#right_content{
    position: relative;
    top: 50px;
    left: 24%;
    width: 76%;
    height: 100%;
    float: left;
    background: #ffffff;
    color: #000000;
}


#right_content a{
    color: #ad3313;
    text-decoration: none;
}

#right_content .desc{
    font-style: italic;
    font-size: 8px;
    color: #888;
}

#right_content .status-list{
    left: 0px;
    width: 100%;
    margin: 0px;
}

#right_content .status-content{
    background: #ffffff;
    margin: 10px;
    padding: 8px 10px;
    padding-left: 68px;
    position: relative;
    border: 1px solid #dddddd;
    opacity: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

#right_content .status-content.selected{
    background: #efefef;
}

#right_content .status-avatar{
    border-radius: 4px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
}

#right_content .status-hidden{
    display: none;
}

#right_content.hide_sidebar{
    left: 0%;
    width: 100%;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdn_picker_wrapper #loading_msg{
    display: none;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdn_picker_wrapper #loading_img{
    display: none;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdn_picker_wrapper.default #sidebar{
    z-index: 2;
}

#mstdn_picker_wrapper.default #sidebar .left__input #permalink{
    display: none;
}

#mstdn_picker_wrapper.default #right_header{
    display: none;
}

#mstdn_picker_wrapper.default #right_content{
    display: none;
}

#mstdn_picker_wrapper.default{
    background-color: #ffffff;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdn_picker_wrapper.loading #loading_msg{
    display: inline-block;
}

#mstdn_picker_wrapper.loading #loading_img{
    display: inline-block;
}

#mstdn_picker_wrapper.loading #filter{
    display: none;
}

#mstdn_picker_wrapper.loading #right_content{
    display: none;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
