
html, body{
    background-color: #282c37;
    color: #ffffff;
}

a{
    color: #cccccc;
}

.hidden{
    display: none;
}

.desc{
    font-style: italic;
    font-size: 8px;
    color: #888;
}

#input{
    margin: 10px;
    padding: 10px;
}

#input input{
    width: 200px;
}

#output{
    border: 0px solid #fff;
    margin: 10px;
    padding: 10px;
}

#output table{
    background-color: #203d2c;
    color: #ffffff;
    border: solid 1px #000;
}

#output td{
    border-bottom: solid 1px #888;
}

