
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#mstdnpicker-wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.emojione {
    font-family: "object-fit:contain", inherit;
    vertical-align: middle;
    -o-object-fit: contain;
    object-fit: contain;
    margin: -.2ex .15em .2ex;
    width: 16px;
    height: 16px;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdnpicker-header{
    position: fixed;
    top: 0px;
    left: 0px;
    background: #134264 linear-gradient(#174e79, #103857);
    width: 100%;
    height: 80px;
    padding: 5px;
    z-index: 3;
}

#mstdnpicker-header a{
    color: #aaaaaa;
    text-decoration: none;
}

#mstdnpicker-header #logo{
    height: 50px;
    float: left;
}

#mstdnpicker-header #description{
    position: fixed;
    top: 40px;
    left: 40px;
    color: #aaaaaa;
    font-size: 10px;
}

#mstdnpicker-header #search_icon:after{
    content: 'search.png';
    position: relative;
    left: -60px;
    top: 10px;
}

#mstdnpicker-header .information{
    background: #154a71 linear-gradient(#154a71, #134164);
    position: fixed;
    top: 60px;
    left: 10px;
    width: 240px;
    height: 18px;
    border-radius: 5px;
}

#mstdnpicker-header #toot_count{
    position: fixed;
    top: 60px;
    left: 90px;
    color: #aaaaaa;
    font-size: 12px;
    text-decoration: underline;
}

#mstdnpicker-header #toot_count:hover{
    cursor: pointer;
}

#mstdnpicker-header #filter{
    background: #0c2b41 linear-gradient(#0f344e, #0b2134);
    color: #ffffff;
    font-size: 20px;
    border-style: solid;
    border-width: 0px;
    border-color: #777;
    padding: 8px;
    margin-top: 20px;
    margin-left: 50px;
    outline: 0;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    width: 480px;
}

#mstdnpicker-header input:-ms-input-placeholder{
    color: #aaaaaa;
}

#mstdnpicker-header input:-webkit-input-placeholder{
    color: #aaaaaa;
}

#mstdnpicker-header input:-moz-placeholder{
    color: #aaaaaa;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdnpicker-dialog{
    position: fixed;
    top: calc(80px + 10px);
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    float: left;
}

#mstdnpicker-dialog label{
    font-size: 16px;
}

#mstdnpicker-dialog input,select{
    width: 90%;
    border: 1% solid #000;
}

#mstdnpicker-dialog .dialog_form{
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
}

#mstdnpicker-dialog .json_form{
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
}

#mstdnpicker-dialog .button{
    background: #0d2f46 linear-gradient(#288fd8, #195586);
    color: white;
    border-radius: 5px;
    border: 1px solid #195986;
    box-shadow: 0 1px 5px gray;
    font-size: 16px;
    width: 240px;
    height: 24px;
    margin: 10px;
    padding: 7px;
    text-align: center;
}

#mstdnpicker-dialog .button:hover{
    background: #0d2f46 linear-gradient(#113b5b, #1d6aa1);
    cursor: pointer;
}

#mstdnpicker-dialog .button:active{
    background: #0d2f46 linear-gradient(#113b5b, #1d6aa1);
}

#mstdnpicker-dialog .button_load_json{
    margin: 10px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
}

#mstdnpicker-dialog .button_load_json:hover{
    background-color: #3C9F40;
    cursor: pointer;
}

#mstdnpicker-dialog .button_load_json:active{
    background-color: #000000;
}

#mstdnpicker-dialog.hide_dialog{
    display: none;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdnpicker-content{
    position: relative;
    top: calc(80px + 10px);
    left: 0px;
    width: 100%;
    height: 100%;
    float: left;
    background: #ffffff;
    color: #000000;
}


#mstdnpicker-content a{
    color: #ad3313;
    text-decoration: none;
}

#mstdnpicker-content .desc{
    font-style: italic;
    font-size: 8px;
    color: #888;
}

#mstdnpicker-content .status-list{
    left: 0px;
    width: 100%;
    margin: 0px;
}

#mstdnpicker-content .status-content{
    background: #ffffff;
    padding: 8px 10px;
    padding-left: 68px;
    position: relative;
    border-top: 1px solid #dddddd;
    opacity: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#mstdnpicker-content .status-avatar{
    border-radius: 4px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
}

#mstdnpicker-content .status-hidden{
    display: none;
}

#mstdnpicker-content.hide_dialog{
    left: 0%;
    width: 100%;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdnpicker-wrapper #loading_msg{
    display: none;
}

#mstdnpicker-wrapper #loading_img{
    display: none;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdnpicker-wrapper.default #mstdnpicker-content{
    display: none;
}

#mstdnpicker-wrapper.default #mstdnpicker-content{
    display: none;
}

#mstdnpicker-wrapper.default #search_icon{
    display: none;
}

#mstdnpicker-wrapper.default .information{
    display: none;
}

#mstdnpicker-wrapper.default #toot_count{
    display: none;
}

#mstdnpicker-wrapper.default #download_json{
    display: none;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#mstdnpicker-wrapper.loading #loading{
    margin: 10px;
}

#mstdnpicker-wrapper.loading #mstdnpicker-content{
    position: fixed;
}

#mstdnpicker-wrapper.loading #search_icon{
    display: none;
}

#mstdnpicker-wrapper.loading #loading_img{
    display: inline-block;
    float: left;
}

#mstdnpicker-wrapper.loading #loading_msg{
    padding: 5px;
    display: inline-block;
    font-weight: bold;
}

#mstdnpicker-wrapper.loading #filter{
    display: none;
}

#mstdnpicker-wrapper.loading #status_list{
    display: none;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
